{:aliases   {:dev {:extra-paths ["development/src"]
                   :extra-deps {org.clojure/clojure {:mvn/version "1.11.1"}
                                clj8/registry {:local/root "bricks/registry"}
                                clj8/malli    {:local/root "bricks/malli"}
                                clj8/client   {:local/root "bricks/client"}
                                clj8/macros   {:local/root "bricks/macros"}
                                clj8/api      {:local/root "bases/api"}}}

             :test {:extra-paths ["bricks/malli/test" "bricks/registry/test" "bricks/client/test" "bricks/core/test" "bricks/macros/test"
                                  "bricks/malli/src" "bricks/registry/src" "bricks/client/src" "bricks/core/src" "bricks/macros/src"]
                    :extra-deps  {org.clojure/test.check {:mvn/version "1.1.1"}
                                  io.github.cognitect-labs/test-runner
                                  {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                   :sha "705ad25bbf0228b1c38d0244a36001c2987d7337"}
                                  ;; Additional test utilities
                                  nubank/matcher-combinators {:mvn/version "3.9.1"} ; Better test assertions
                                  com.gfredericks/test.chuck {:mvn/version "0.2.14"} ; More test.check utilities
                                  org.clojure/data.json {:mvn/version "2.5.0"} ; JSON testing utilities
                                  }
                    :exec-fn cognitect.test-runner.api/test}

             :poly {:extra-deps {polylith/clj-poly {:mvn/version "0.2.21"}}
                    :main-opts  ["-m" "polylith.clj.core.poly-cli.core"]}}

 :deps
 {cheshire/cheshire {:mvn/version "5.12.0"}
  metosin/malli {:mvn/version "0.18.0"}
  metosin/spec-tools {:mvn/version "0.10.7"}
  org.clojure/clojure {:mvn/version "1.12.0"}
  clj-http/clj-http {:mvn/version "3.13.0"}}}